.absolute {
  position: fixed !important;
  height: 100vh !important;
  width: 100vw !important;
  top: 0;
  left: 0;
  z-index: 1031;
  animation: myanim 10s infinite linear;
}
.absolute2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes myanim {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
